@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
     --primary-color: #03045E;
    --secondary-color: #0077B6;
    --accent1-color: #00B4D8;
    --accent2-color: #90E0EF;
    --accent3-color: #FFFFFF;

    --heading-font: "Roboto Serif"; 
    --paragraph-font: "Nunito Sans";
  
    --headline-color-on-white: #03045E ;  /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
    --paragraph-color-on-white: #03045E ; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #FFFFFF; /* paragraph text on a colored background */ 
    --paragraph-background-color: #1c5d99  ;
    --nav-link-color: #03045E;
    --nav-background-color: #0077B6;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #00B4D8 ;
  }

body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-white);
}
body.darkmode{
    background-color: #1a1a1a;
    color: #ffffff;
}
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    justify-content: space-between;
    height: 60px;
}

header img {
    height: 50px;
    margin-right: 20px;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #03045E;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateY(-100%); 
}

.navbar.active {
    transform: translateY(0);
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Hamburger menu and dark mode button */
.darkmode {
    order: 3; /* Adjust the order of elements */
    margin-left: auto; /* Push to the right */
}
.hamburger {
    order: 1; /* Adjust the order of elements */
}
span {
    order: 2; /* Adjust the order of elements */
    margin-right: auto; /* Push to the left */
}
button.darkmode,
button.hamburger,
button.close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger {
    display: none; /* Initially hide hamburger */
}

.close {
    display: none; /* Initially hide close button */
}
body.dark-mode {
    background-color: #121212;
    color: white;
}
button.darkmode {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button.hamburger, button.close {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer; 
}

.hero {
    background-image: url('hero-image-placeholder.jpg');
    background-size: cover;
    background-position: center;
    position: relative;/**/
    width: 100%;/**/
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 1;
    overflow: hidden; 
}
.hero h1 {
    font-size: 3em;
    margin: 0;
    color: #fff;
    z-index: 2;
    position: relative;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

/* CSS for Call to Action Section */
.call-to-action {
    color: var(--headline-color-on-color);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
}

.call-to-action a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0077B6;
    color: var(--headline-color-on-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.call-to-action a:hover {
    background-color: #00B4D8;
    color: var(--headline-color-on-color); 
}

/* Current Events Section */
.current-events {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}

.current-events h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--headline-color-on-color);
    margin-bottom: 15px;
}

.current-events ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.current-events li {
    margin-bottom: 10px;
}

.current-events li:before {
    content: '\2022';
    color: var(--accent1-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Spotlight Section */
.company-spotlights {
    margin-top: 30px;
    background-color: #00B4D8;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}

.spotlight {
    display: flex;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spotlight img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
}

.spotlight img:hover {
    transform: scale(1.5);
}

.spotlight h3 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #03045E;
    margin-bottom: 10px;
}

.spotlight p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: black;
    line-height: 1.5;
}

/* weather section */
.weather-card {
    background-color: #0077b6;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card h2 {
    margin-bottom: 10px;
}

.weather-card .weather-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.weather-card img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.weather-card #current-temp {
    font-size: 18px;
    margin-left: 10px;
}

.weather-card figcaption {
    margin-left: 10px;
    text-transform: capitalize;
}

.weather-card p {
    margin-top: 0;
}
/* Specific Styles for h2 in Current Events */
.current-events h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--headline-color-on-color);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Specific Styles for h2 in Weather Card */
.weather-card h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--headline-color-on-color);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Specific Styles for h2 in Company Spotlights */
.company-spotlights h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--headline-color-on-color);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}


footer {
    background-color: var(--primary-color);
    color: var(--accent3-color);
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.hero picture, .hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero span{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1rem;
    text-align: center;
    font-size: 20px;
}
.thankyou-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.thankyou-container a:hover {
    background-color: #0056b3;
}

.thankyou-container {
    margin-bottom: 20px;
    text-align: center;
}
.thankyou-main{
    background-color: white;
    width: 600px;
    padding: 50px;
    margin: 80px auto;
   
}
:focus {
    outline: 2px solid #007bff; /* Example focus style */
}

/* directory page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 1000px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color:#00B4D8;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    height: 350px;
    width: 250px; 
    margin: 10px;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}
.grid section a {
   font-size: 10px;}

.grid h3 {
	font-family: "Caveat", cursive;
}


.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #90E0EF;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%;
}

/* discover */
.main-content h2{
    color: #0077B6;
    margin-bottom: 10px;
    
    
}
.sidebar h2 {
    font-size: 1.5rem;
    color: #0077B6;
    margin-bottom: 15px;
    border-bottom: 2px solid #0077B6;
    padding-bottom: 5px;
}

.sidebar h3 {
    font-size: 1.2rem;
    color: #0077B6;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 8px;
    color: #666;
}

.sidebar ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #0077B6;
}

@media (max-width: 768px) {
    
    header .darkmode,
    header .hamburger,
    header .close {
        display: block; /* Show hamburger and close buttons */
    }
    header .darkmode{
        order:-1;
    }
    header{
        padding: 10px;
    }
    .darkmode,
    .hamburger {
        font-size: 20px; /* Adjust size for mobile */
    }

    /* discover */
    .container {
        grid-template-columns: 1fr;
        background-color: #FFFFFF;
        /* gap: 20px; */
        padding: 20px;
        
        
    }
    .calendar-widget {
        margin: auto;
        border-bottom: 2px solid #0077B6;
        padding-bottom: 30px;
    }
    .calendar-widget iframe {
        border: solid 1px #777;
        width: 400px;
        height: 300px;
        overflow: hidden;
    }
    
    .image-gallery figure {
        object-fit: cover; /* Ensure the image covers the specified dimensions */
        margin: 0;
        text-align: center;
    }

    .image-gallery img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        overflow: hidden;
        
    }

    .dishover {
        transition: transform 0.2s;
        width: 500px;
        margin: 0 auto;
    }

    .dishover:hover {
        box-shadow: 0 0 50px #333;
        transform: scale(1.5);
    }
    
    /*  */

    .navbar {
        flex-direction: column;
        /* align-items: center; */
        align-items: flex-start;
        padding-top: 60px; 
    }

    .navbar a {
        padding: 10px;
    }

    .hero h1 {
        font-size: 2em;
    }
    .join-main {
        margin: 10px;
        padding: 10px;
        background-color: #fff;
    }

    .join-form-container {
        width: 100%;
    }

    form label {
        font-size: 0.9em; 
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form textarea,
    form select {
        width: 90%;
        font-size: 0.9em; 
        padding: 8px; 
        margin-bottom: 10px; 
        display: block;
        border: 1px solid #ccc;

    }

    .button {
        width: 93%;
        font-size: 0.9em; 
        padding: 10px; 
        color: #fff;
        background-color: var(--secondary-color);
        border-radius: 4px;
        border: none;
    }
    .button:hover {
        background-color: #0056b3;
    }
    .benefits {
        width: 90%;
        padding: 15px;
    }

    .benefit-item h3 {
        font-size: 1.1em;
    }

    .benefit-item ul li {
        font-size: 0.9em; 
    }
    .grid {
        grid-template-columns: 1fr; 
        
    }

    .grid section {
        margin: auto;
        margin-bottom: 20px; 
    }
}