body{
    max-width: 100%;
    margin: auto;
    background-color: white;
}
header{
    color: white; 
    background-color: rgb(24, 24, 107);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 0;
}

header img{
    border-radius: 100%;
    object-fit: cover;
    
}
.hero img{
    width: 100%;
}
span{
    font-size: 40px;
    padding: 20px;
}

h1{
    font-size: 2rem;
    padding: 10px;
}
nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* gap: 10px; */
    justify-content: center;
    list-style-type: none;
    padding: 0;

    background-color: rgb(65, 64, 64);
    margin: auto;
    max-width: 100%;
    /* font-size: 20px; */
    /* margin-top: -20px; */
}
nav ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    font-size: 25px;
    /* display: flex;  */
}

nav a{
    display: block;
    color: white;
    text-align: center;
    /* padding: .5rem; */
    text-decoration: none;
    /* padding: 10px; */


    /* display: block;
    color: white;
    text-align: center;
    padding: .5rem;
    text-decoration: none; */
}
nav a:hover{
    background-color:rgb(123, 123, 197);
   
}
main h1{
    border-bottom: 1px solid black;
   
}

.grid-container{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 1fr;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.card{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin-bottom: 5px;
}
.link{
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
    color: blue;
}

h2{
    background-color: rgb(24, 24, 107);
    color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer{
    background-color: rgb(24, 24, 107);
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.active{
    /* color: black; */
    background-color: rgb(123, 123, 197);

}
.content{
    text-align: center;
}


nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.active ul {
    display: block;
    background-color: rgb(78, 76, 76);
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

header, nav, main, footer {
    transition: background-color 0.3s, color 0.3s;
}

header.dark-mode, nav.dark-mode, main.dark-mode, footer.dark-mode {
    background-color: #1e1e1e;
}

button.darkmode {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button.hamburger, button.close {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.close{
    display: none;
}