@media (min-width: 1024px){
    .grid-container{
        grid-template-columns: 2fr 1fr;
    }
    /* nav{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    } */
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: 1 1 100%;
        
    }
    /* .parent{
        display: grid;
        grid-template-columns: 2fr 1 fr;
        column-gap: 10px;
    }
    .parent section{
        box-shadow: 1px 1px 10px black;
    } */
    /* .grid-container{
        display: inline-grid;
    }  */
    
}