@media (min-width: 1024px){
    .grid-container{
        grid-template-columns: 2fr 1fr;
    }
    
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: 1 1 100%;
        
    }
    /* nav ul {
        display: flex;
    } */
    .hamburger {
        display: none;
    }
}
